<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>NBA API</h1>
  <p>See current NBA Games</p>
  <a > Search For Game
    <form action="/searchRouter" method = 'post'>
      <label for = "team">Enter Team Name</label><br>
      <input type = "text" name = "team" id = "team">
      <button name = 'submit' value = 'more_games'>submit</button>
    </form>
  </a><br>
  <a href = "/async_await"> Async and Await API</a><br>
  <a href = "/callback"> Callback</a><br>
  <form action="" method = 'post'>
    <button name = 'games' value = 'more_games'>Promise code</button>
  </form>
</body>
<script type='text/javascript' src = "config.js"></script>
</html>
